.productName{
  text-align: center;
  margin: 30px;
}
.itemDetail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .imagesContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .mainImageContainer {
    margin-bottom: 20px;
  }
  
  .mainImage {
    width: 500px;
    max-height: 500px;
    height: auto;
  }
  
  .imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    gap: 10px;
  }
  
  .imgThumbnail {
    width: 100px; 
    max-height: 100px;
    cursor: pointer;
    opacity: 0.7; 
    transition: opacity 0.3s ease;
  }
  
  .imgThumbnail:hover {
    opacity: 1; 
  }
  .productDescription{
    display: flex;
    flex-direction: column;
    margin: 40px;
    justify-content: center;
  }
  .productPrice{
    margin-top: 40px; 
  }
  .descriptionContainer{
    max-width: 400px;
    margin-top: 20px;
  }
  .backProducts{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .backProducts button{
    width: 175px;
    height: 35px;
    margin: 10px;
    background-color: white;
    border: 1px solid rgba(255, 166, 0, 0.459);
    border-radius: 20px;
  }
  .no-underline{
    text-decoration: none;
    color: black;
  }